@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/*-----------------------------------*\
#CUSTOM PROPERTY
\*-----------------------------------*/
:root {

    /* COLORS */
    --background: #131214;
    --on-background: #f5f3f7;
    --primary: #5372F0;
    --hover-primary: #2c52ed;
    --surface: #1D1C1F;
    --on-surface: #ffffff;
    --on-surface-variant: #7B7980; 
    --outline: #3E3D40;
    --black: hsla(0, 0%, 0%, 0.1);
    --badge-1: #89E589;
    --badge-col-1: #1F331F;
    --badge-2: #E5DD89;
    --badge-col-2: #33311F;
    --badge-3: #E5C089;
    --badge-col-3: #332B1F;
    --badge-4: #E58989;
    --badge-col-4: #331F1F;
    --badge-5: #E589B7;
    --badge-col-5: #331F29;

    /* FONT SIZE */
    --body-1: 1.6rem;
    --title-1: 1.8rem;
    --title-2: 1.8rem;
    --title-3: 1.6rem;
    --body-1: 2.2rem;
    --body-2: 2rem;
    --body-3: 1.6rem;
    --label-1: 1.4rem;
    --label-2: 1.2rem;
    --heading: 2.4rem;

    /* FONT WEIGHT */
    --weight-regular: 400;
    --weight-semiBold: 600;

    /* BORDER RADIUS */
    --radius: 28px;
    --radius-2: 500px;
    --radius-3: 16px;

}

/*-----------------------------------*\
#RESET
\*-----------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li { list-style: none; }

button { display: block; }

body {
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background);
    color: var(--on-background);
    font-size: var(--body-3);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: var(--white-alpha-8);
    border-radius: var(--radius-2);
}

/*-----------------------------------*\
  #MATERIAL ICON
\*-----------------------------------*/

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(../font/material-symbol-rounded.woff2) format('woff2');
  }
  
.m-icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1;
    margin-right: 0.5em;
    height: 1em;
    width: 1em;
    overflow: hidden;
}

/*-----------------------------------*\
#MAIN
\*-----------------------------------*/
.heading {
    color: var(--white);
    font-size: var(--heading);
    line-height: 1.1;
}
 
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 400px;
}

h1 {
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19.6px);
    font-size: 1.75rem;
    text-align: center;
    padding: 18px 0;
    color: #fff;
}

/*-----------------------------------*\
#REUSED
\*-----------------------------------*/
.title-1 {
    font-size: var(--title-1);
    margin-block-end: 12px;
}

.title-2 {
    font-size: var(--title-2);
    margin-block-end: 12px;
}

.title-2 .card-title {
    display: flex;
    align-items: center;
}
  
.title-3 {
    font-size: var(--title-3);
    font-weight: var(--weight-semiBold);
}

.body-1 { font-size: var(--body-1); }

.body-2 {
  font-size: var(--body-2);
  font-weight: var(--weight-semiBold);
}

.body-3 { font-size: var(--body-3); }


.label-1 { font-size: var(--label-1); }

.label-2 { font-size: var(--label-2); }

.card {
    color: var(--on-surface);
    
}

.card-lg {
    border-radius: var(--radius);
    padding: 20px;
}

.card-sm {
    border-radius: var(--radius-3);
    padding: 16px;
    background-color: var(--black);
}

.weather-cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(20% - 10px);
    background: var(--surface);
    border-radius: 28px;
}
.weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
    border-block-end: 2px solid #3E3D40;
}
.weather-cards .card img {
    max-width: 70px;
} 

.weather-data {
    width: 100%;
    display: none;
}

/*-----------------------------------*\
#SIDBAR
\*-----------------------------------*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px; 
    background: rgba(0, 0, 0, 0.775);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
    z-index: 1000; 
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 0.3s ease;
}

/*-----------------------------------*\
#SEARCH
\*-----------------------------------*/
.weather-search {
    width: 100%;
    padding: 20px;
}
.weather-search input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.weather-search input:focus {
    padding: 0 16px;
    border: 2px solid var(--primary);
}
.weather-search .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-search .separator::before{
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #E3F2FD;
}
.weather-search button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: var(--primary);
    transition: 0.2s ease;
}
.weather-search .search-btn:hover {
    background: var(--hover-primary);
}
.weather-search .location-btn {
    background-color: var(--primary);
}
.weather-search .location-btn:hover {
    background: var(--hover-primary);
}

/*-----------------------------------*\
#RECENT CITY
\*-----------------------------------*/
.recent-city {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: var(--primary);
    transition: 0.2s ease;
    margin-bottom: 10px;
}
.recent-city:hover {
    background: var(--hover-primary);
}

/*-----------------------------------*\
#CURRENT WEATHER
\*-----------------------------------*/
.current-weather {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19.6px);


    border-radius: var(--radius);
    padding: 20px;
}

.current-weather-card .wrapper { 
    margin-block: 12px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
  }
  
.current-weather-card .wrapper .body-3 {
    justify-content: flex-end;
}
.current-weather-card .weather-icon,
.forecast-card .weather-icon { margin-inline: auto; }

.current-weather-card > .body-3 { 
    text-transform: capitalize; 
}
  
.current-weather-card .meta-list {
    margin-block-start: 16px;
    padding-block-start: 16px;
    border-block-start: 1px solid var(--outline);
}

.current-weather-card .meta-item,
.forecast-card .meta-item {
    display: flex;
    align-items: center;
    gap: 8px;
}
  
.current-weather-card .meta-item:not(:last-child) {
    margin-block-end: 12px;
}
  
/*-----------------------------------*\
  #HIGHLIGHTS
\*-----------------------------------*/
.data-highlights {
    background-color: var(--surface);
    margin-top: 20px;
}

.highlight-list .m-icon { font-size: 3.2rem; }

.highlight-list {
    display: grid;
    gap: 20px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19.6px);
    margin-top: 20px;
}

.highlight-list .title-3 {
    margin-block-end: 20px;
}

.highlights .card-sm {
    background-color: var(--black);
    position: relative;
  }

.highlight {
    background-color: var(--black);
    padding: 14px;
    border-radius: 16px;
}


.highlight-card :is(.wrapper, .card-list, .card-item) {
    display: flex;
    align-items: center;
}

.highlight-card .wrapper {
    justify-content: space-between;
    gap: 16px;
}

.highlight-card .card-list {
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 8px;
}
  
.highlight-card .card-item {
    width: 50%;
    justify-content: flex-end;
    gap: 4px;
}
  

.highlight-card.two .card-item {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px 16px;
}
  
.highlight-card.two .label-1 { margin-block-end: 4px; }

.badge {
    position: absolute;
    top: 110px;
    right: 30px;
    padding: 2px 12px;
    border-radius: var(--radius-2);
    font-weight: var(--weight-semiBold);
    cursor: help;
}
  
.badge.aqi-1 {
    background-color: var(--badge-1);
    color: var(--badge-col-1);
}
  
.badge.aqi-2 {
    background-color: var(--badge-2);
    color: var(--badge-col-2);
}
  
.badge.aqi-3 {
    background-color: var(--badge-3);
    color: var(--badge-col-3);
}
  
.badge.aqi-4 {
    background-color: var(--badge-4);
    color: var(--badge-col-4);
}
  
.badge.aqi-5 {
    background-color: var(--badge-5);
    color: var(--badge-col-5);
}
/*-----------------------------------*\
  #DAYS FORECAST
\*-----------------------------------*/

.days-forecast {
    padding: 20px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19.6px);
    margin: 20px;
    height: 100%;
}
.days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
}
.days-forecast .weather-cards {
    width: 350px; 
    height: 300px;
    margin-right: 20px;
    display: inline-block; 
    vertical-align: top;
    padding-left: 20px;
    gap: 20px;
}

.days-forecast .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.days-forecast .weather-cards .forecast-card {
    background-color: var(--black);
}

.days-forecast .meta-list {
    margin-block-start: 16px;
    padding-block-start: 16px;
    border-block-end: 1px solid var(--outline);
}

.slider-container {
    overflow-x: auto;
    white-space: nowrap;
    height: 350px;
}
  
.slider-container::-webkit-scrollbar { display: none; }
  
.slider-list {
    display: inline;
    gap: 12px;
}
  
.slider-list:first-child { margin-block-end: 16px; }
  
.slider-list::before,
.slider-list::after {
    content: "";
    min-width: 4px;
}

 .slider-item {
    min-width: 110px;
    flex: 1 1 100%;
}
  
.slider-card {
    width: 300px;
    margin-right: 20px; 
    display: inline-block; 
    vertical-align: top; 
}
  
.slider-item .weather-icon {
    margin-inline: auto;
    margin-block: 12px;
}

.days-forecast .m-icon { font-size: 2.2rem; }

/*-----------------------------------*\
#MEDIA QUERIES
\*-----------------------------------*/
@media (max-width: 1400px) {
    .weather-cards {
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {
    .highlight-card .m-icon {
        font-size: 4.8rem;
    }
}


@media (max-width: 1050px) {
    .weather-input {
        width: 450px;
    }

    .badge {
        top: 1025px;
        right: 80px;
    }

}

@media (min-width: 768px) {
    .highlight-card .m-icon {
        font-size: 3.6rem;
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 1.45rem;
        padding: 16px 0;
    }
    .weather-input {
        width: 100%;
    }
    .weather-data h2 {
        font-size: 1.35rem;
    }
    .badge {
        top: 1000px;
        right: 80px;
    }
}


